In [2]:
import pandas as pd
import numpy as np
from pandas.core.frame import DataFrame

with open("input2.txt", "r") as f:
  bingo_numbers = f.read()

file_content = pd.read_csv("input.txt", sep=r"\s+", header=None)

# BINGO numbers
bingo_numbers = bingo_numbers.split(",")
bingo_numbers = pd.Series(bingo_numbers)
bingo_numbers = pd.to_numeric(bingo_numbers).to_frame(
    name="numbers").reset_index()
# print(bingo_numbers)


results = []


def calculate(test, chunk):
  count_of_matched = len(test["index"])
  max_matched_index = max(test["index"])
  last_num = bingo_numbers.iloc[max_matched_index]
  last_num = last_num["numbers"]

  all_called_numbers = bingo_numbers.iloc[0:max_matched_index+1, 1].tolist()
  chunk_numbers = pd.DataFrame.to_numpy(chunk).flatten()
  not_called_numbers = [
      x for x in chunk_numbers if x not in all_called_numbers]
  not_called_numbers = sum(
      [x for x in chunk_numbers if x not in all_called_numbers])
  final_result = not_called_numbers*last_num


#  print(len(not_called_numbers))
  result = {"Table_number": chunk_number, "Table_Sum": sum_chunk, "Count_of_Matched_Numbers_in_r_c": count_of_matched,
            "Latest_matched_index": max_matched_index, "last_num": last_num, "not_called_numbers": not_called_numbers, "final_result": final_result}
  results.append(result)


#set up first chunk
x = 0
y = 5
n = 1
#500 final. 20 for tests
while x < 500:
  chunk = file_content[x:y]
#  print(chunk)
  sum_chunk = chunk.values.sum()
  chunk_number = n

  for ind, row in chunk.iterrows():
    test = pd.merge(row, bingo_numbers, right_on="numbers", left_on=ind)
    calculate(test, chunk)

  for ind, column in chunk.iteritems():
    test = pd.merge(column, bingo_numbers, right_on="numbers", left_on=ind)
    calculate(test, chunk)

  #set up next chunk
  x += 5
  y += 5
  n += 1


resulting_DF = pd.DataFrame.from_dict(results)
print(resulting_DF.sort_values(by="Latest_matched_index").head())

     Table_number  Table_Sum  Count_of_Matched_Numbers_in_r_c  \
903            91       1391                                5
40              5       1113                                5
761            77       1079                                5
291            30       1213                                5
616            62       1219                                5

     Latest_matched_index  last_num  not_called_numbers  final_result
903                    13        10                1068         10680
40                     23        34                 786         26724
761                    34        83                 563         46729
291                    35        61                 754         45994
616                    35        61                 739         45079

In [25]:
tablex = resulting_DF.groupby(["Table_number"], as_index="test")["Latest_matched_index"].min()
tablex.sort_values().tail()

Table_number
27    78
36    79
85    79
21    81
95    84
Name: Latest_matched_index, dtype: int64

In [35]:
table95 = resulting_DF[resulting_DF["Table_number"] == 95]

In [36]:
table95.sort_values(by="Latest_matched_index")

,Table_number,Table_Sum,Count_of_Matched_Numbers_in_r_c,Latest_matched_index,last_num,not_called_numbers,final_result
941,95,1239,5,84,68,469,31892
949,95,1239,5,85,90,379,34110
943,95,1239,5,87,88,220,19360
944,95,1239,5,90,64,156,9984
947,95,1239,5,90,64,156,9984
946,95,1239,5,93,49,107,5243
942,95,1239,5,94,48,59,2832
945,95,1239,5,94,48,59,2832
940,95,1239,5,97,59,0,0
948,95,1239,5,97,59,0,0